body{
    background-color: #000000;
}
.col-odd{
    background-color: #3c3f41;
}
.col-even{
    background-color: #5c636a;
}

.top-row{
    margin-right: 25rem;
    align-items: center;
    padding-top: 1rem;
}

/**/

/**/
.text-responsive {
  font-size: calc(1vh + 1vw);
}

.col-inner{
    min-height: fit-content;
}
.col-inner p{
    align-items:center;
    align-content: center;
    vertical-align: middle;
}


.recents{
    display:flex;
    flex: 1 1;
    align-items: center;
    padding-bottom: 10px;
}

.text-recent{

}

.proj-prog{
    margin-right: 5vw;
}