{% extends 'projects/base/base.html' %}
{% load django_tables2 %}
{% load static %}

{% block title %} Projects {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'projects/styles/index.css' %}">
{% endblock css%}

{% block body %}
    <section class="container-fluid">
        {% for project in models %}
            <div class="card-body m-5">
                <li class="project-item"><a class="text-decoration-none text-white" href="{{ project.slug }}">{{ project.title }}</a></li>
            </div>
        {% endfor %}
        {% render_table table %}
    </section>
{% endblock body %}