{% extends 'projects/base/base.html' %}
{% load static %}
{% block title %}Project Details{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'projects/styles/project-detail.css' %}">
{% endblock %}


{% block body %}
<section class="container-fluid align-items-center">
        <div class="row text-center top-row px-2">
            <div class="col-sm-2 border border-dark mx-1 shadow-sm col-inner col-even">
                <span class="text-responsive">{{ project.title }}</span>
            </div>
            <div class="col-sm-6 border border-dark mx-1 shadow-sm col-odd col-inner">
                <span class="text-responsive">{{ project.desc }}</span>
            </div>
            <div class="col-sm-2 border border-dark mx-1 shadow-sm col-inner col-even">
                <span class="text-responsive">{{ project.due_date }}</span>
            </div>
        </div>
</section>

<section class="container-fluid align-items-center">
    <div class="row align-items-end">
        <div class=" bg-dark col-sm-4"></div>
        <div class="col-sm-4 align-middle">
            <div class="progress proj-prog align-middle">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
        <div class=" bg-dark col-sm-4 text-white">6
            <p class="h5 text-white text-sm-center">Recent activity</p>
            <div class="row text-sm-center border-bottom recents">
                <div class = "col">
                    <span>User</span>
                </div>

                <div class="col">
                    <span>Activity</span>
                </div>

                <div class="col">
                    <span>Time</span>
                </div>
            </div>
            {% for activity in related_activity %}
            <div class="row text-sm-center text-recent recents">
                <div class="col align-items-center">
                    {{ activity.author.username }}
                </div>

                <div class="col">
                    {{ activity.snip }}
                </div>

                <div class="col">
                    {{ activity.timestamp }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</section>

{% endblock body %}