{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial=-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'projects/styles/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% block css %} {% endblock css %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <span class="navbar-brand mb-0 h1 text-white">Eventor</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav justify-content-end">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="/projects">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Unimplemented</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item m-lg-auto">
                    <a class="nav-link text-white m-lg-auto" href="#">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>


{% block body %}

{% endblock body %}

</body>
</html>